<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	{% if page.title == "" %}
		<title>База знаний ~ Clodo.ru - облачный хостинг виртуальных ресурсов VDS/VPS</title>
	{% else %}
		<title>{{ page.title }}</title>
	{% endif %}
	
	<meta name="keywords" content="хостинг, виртуальный сервер, vds, vps, cloud" />
	<meta name="description" content="База знаний поможет Вам в вопросах администрирования Вашего виртуального сервера VPS/VDS. База знаний содержит материалы по развертыванию широкого спектра серверных решений, от веб-серверов с базами данных до более сложных конфигураций." />
	<link rel="stylesheet" href="/pstyle.css" type="text/css" media="screen" />

	<link rel="shortcut icon" href="http://lib.clodo.ru/favicon.ico" />
	<link rel="image_src" href="http://lib.clodo.ru/favicon.ico" />

	<!--[if IE]>

		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

		<script type="text/javascript" src="/js/excanvas.js"></script>
		<style type="text/css">
		table.header td {
			padding:0;
		}
		.contentcolumn div.serverlist {
			width: 40%;
			margin: 15px 3% 25px 3%;
		}
		table.header td.menu table.main_menu div {
			margin-left: 2px;
		}
		</style>
	<![endif]-->

	<!-- GOOGLE SEARCH -->
	<script>
	  (function() {
	    var cx = '005661710072474951780:6ywyu3asnyk';
	    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
	    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
</head>

<body>

<!-- test -->
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr><td height="115">
		<div class="botsi"></div>
		<div class="header"></div>
		<table cellpadding="0" cellspacing="0" width="100%" border="0" class="header">
			<tr>
				<td rowspan="2" class="logo"><a href="/"><img src="/images/def_skin/logo.png" border="0" width="195" height="50" alt="Панель управления хостингом CLODO.RU" /></a></td>
				<td rowspan="2" class="slog">
					<p><nobr>База знаний Clodo.ru</nobr><br /> <font class="mslink"><a href="http://www.clodo.ru">Перейти на сайт clodo.ru</a></font></p>
				</td>
				<td class="user" align="right">
				
				<!-- GOOGLE SEARCH BOX -->
				<div class='searchbox'>
					<gcse:searchbox-only newWindow="false" enableAutoComplete='true'></gcse:searchbox-only>
				</div>
				<!-- /GOOGLE SEARCH BOX -->
				
				</td> 
			</tr>
			<tr>
				<td class="menu" align="right" valign="bottom">
		


					<table cellpadding="0" cellspacing="0" border="0" class="main_menu">
						<tr>
							<td><div><a href="http://panel.clodo.ru/">Панель управления</a></div></td>
							<td class="menusep">&nbsp;</td>
							<!-- <td><div><a href="http://forum.clodo.ru">Форум&nbsp;поддержки</a></div></td> -->
							<td class="menusep">&nbsp;</td>
							<td><div class="current"><a href="/">База знаний</a></div></td>

						</tr>
					</table>

				</td>
			</tr>
		</table>
	</td></tr>
	<tr><td valign="top">
		<div class="maincontainer">
		<table cellpadding="0" cellspacing="0" width="100%" style="padding: 0 30px;">
			<tr>
				<td valign="top" width="20%">
				<div class="balanceblock">
				<div class="cashflow">


					<!-- LEFT MENU -->
					<div class="categoryhead"><b>Разделы базы знаний</b></div>

						{% for cat in site.categories %}
							{% capture current %}{{ cat | first }}{% endcapture %}
							

							{% if current == page.category %}
								<div class="category1item nobottomborder"><a href="/{{ current | catname2link }}/">{{ current }}</a></div>
								<div class="category2item">
									{% for post in cat[1] %}
											<div class="category1item"><a href="{{ post.url }}">{{ post.title }}</a></div>
									{% endfor %}
								</div>
							{% else %}
								<div class="category1item"><a href="/{{ current | catname2link }}/">{{ current }}</a></div>
							{% endif %}
						{% endfor %}
							
					</div>
					<!-- !LEFT MENU -->

				</div>
				</td>
				<td valign="top" width="80%" class="maintd">
			<div class="contentwrapper">
				<div class="contentcolumn" style="margin-left: 0;">
					<div class="innertube">

	{{ content }}

					</div>
				</div>
			</div>

				</td>
			</tr>
		</table>
		</div>

			<div class="footer">
				Техническая поддержка: СПб: +7 (812) 380-24-97 | Москва: +7 (499) 504-98-28
			</div>

	</td></tr>
	</table>

</body>
</html>
